<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Index page </title>
    <link rel="stylesheet" href="./../public/style.css">
  </head>

  <body>
    <header class="c-header f-header s-header">
      <p> Hi, {{users}} ! </p>
      <form action = '/' method='post'>
        <button class="btn btnLogout" type="submit" name="logout" value="logout"> Log out </button>
      </form>
    </header>

    <main class="c-mainContent">
      <h5> You are logged in! You get a cat </h5>
      <img src="https://s-media-cache-ak0.pinimg.com/736x/a0/f2/a9/a0f2a9ae655628dd3bb59955a3e9d545--cute-kitten-quotes-cute-kitten-pictures.jpg">
    </main>
  </body>
</html>
