body{
  box-sizing: border-box;
  font-family: Arial;
  margin: 0 auto;
}

.c-header{
  padding: 20px
}

.c-header p{
  margin: 0;
  padding: 0 20px;
}

.f-header{
  color: white;
}

.s-header{
  background-color: #1c0b00;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.c-credForm{
  margin: 0 20px;
}

.c-credForm label{
  color: white;
  margin: 0 10px;
}

.c-credForm input{
  margin: 0 10px;
  margin-right: 10px;
}

.btn{
  color: white;
  background-color: #1c0b00;
  border: none;
  border-radius: 20px;
  font-size: 13px;
  margin: 0 10px;
  outline: none;
  padding: 4px 10px;
}

.btn:hover{
  color: black;
  background: white;
  transition: 0.4s;
}

.btnLogin{
  position: relative;
    bottom: 1px;
}

.btnLogout{
  position: relative;
    bottom: 4px;
}

.c-mainContent{
  margin: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
